.body1{
    background-color: red;
}
.ancor{
    text-decoration: none;
    color: white;
}
.ancor:hover{

    color: rgb(206, 185, 185);
    text-decoration: none;
}
.heightnav{
    height: 26px;
}
.navcolor{
    background-color: rgb(179, 160, 136);
}
.objheight{

    margin-top: 30px;
  
  
}
